body{
  background-image:url('file:///H:/Users/39327/Desktop/Boolean%20esercizio/background.jpg');
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
  }

#container {
  margin: auto;
  width: 50%;
  padding: 200px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  border-radius: 25px;
}

.box{
  background-color: orange;
  width:250px;
  height:40px;
  border-radius: 10px;
}

.box2{
  background-color: green;
  width:350px;
  height:40px;
  border-radius: 10px;
}

.box3{
  background-color: red;
  width:150px;
  height:40px;
  border-radius: 10px;
}

img{
  max-width: 20%;
  height: auto;
}

header{
  text-align: center;
}

h1 {
   font-size: 30px;
   color: rgb(0, 255, 0);
 }

 main{
   color: white;
 }
 
h2 {
  display: inline-block;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  background-color: rgb(0, 255, 0);

  .bar1{
    width: 200px;
    height: 50px;
    background-color: orange;
  }
